header{
    display:flex;
    background-color: aqua;
    background: linear-gradient(90deg, rgba(6,2,34,1) 0%, rgba(40,81,172,1) 92%);
    align-items: center;
    height: 30px;
    min-height: 10px;
    padding: 2%;
}
.headImg
{
    margin-left:3% ;
    border-radius: 50%;
    height: 150%;
}
.texty{
    padding-left: 2%;
    color: white;
    font-weight: bold;
    font-style: oblique;
    font-size:large;

}
.rtitle{
    margin-left: auto;
    color: white;
    font-size:smaller;
}
table{
    margin: 8% 0px 8% ;
    width: 100%;
    text-align:center;
}
input{
    text-align: center;
    height:40px;
    border-radius: 12px;
    border: 3px solid;
    font-size:large;
    width: 90%;
}
.Form{
    text-align: center;
}

/* CSS */
.button-36 {
  background-color: rgba(40,81,172,1);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2.5rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 
  {
    padding: 0 2.6rem;
  }
}
.generated{
  
  margin-top: 8%;
  max-width: 100%;
  max-height: 10%;
  
}
.imgPic{
   height: 300px;
   max-width: 100%;
}
.top-text{
  font-family: 'Londrina',sans-serif;
  position: relative;
  bottom: 300px;
  text-align: center;
  width: 100%;
  color:white;
  margin: 0;

}
.bottom-text{
  font-family: 'Londrina',sans-serif;
  position: relative;
  bottom: 70px;
  text-align: center;
  width: 100%;
  color: white;
  margin: 0;
}